<section id="blogpostsprev" class="blogpostsprev">
  <div class="container">
    <div class="row text-center">
      <h1 style="color:#4A235A"><strong>Blog</strong></h1>
      <!-- Cards of blog posts -->
      <div class="row previewcards is-flex">
        {% for post in site.blogposts limit:4 %}
        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="card-light">
            <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
            <p class="post-date">{{ post.date | date: '%b %-d, %Y' }}</p>
            <img src={{ post.img }} width="150">
          </div>
        </div>
        {% endfor %}
      </div>
      <br>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
