<section id="blogprev" class="blogprev">
  <div class="container">
    <div class="row text-center">
      <h1 style="color: Darkslategray"><strong>PROJECTS</strong></h1>
      <p>My recent projects are shown below. For a full list of projects click <a href="https://crochetparty.github.io/blog/"></b>here</b></a>.</p>
      <hr="small">
      <!-- Cards of blog posts -->
      <div class="row previewcards is-flex">
        {% for post in site.posts limit:4 %}
        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="card-light">
            <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
            <p class="post-date">{{ post.date | date: '%b %-d, %Y' }}</p>
            <img src={{ post.img }} class="image-blurred-edge" width="150">
          </div>
        </div>
        {% endfor %}
      </div>
      <br>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
