<section id="projectsprev" class="projectsprev">
  <div class="container">
    <div class="row text-center">
      <h1>Featured Projects</h1>
      <hr="small">
     <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="research-item">
              <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-eye-slash fa-stack-1x text-primary"></i>
            </span>
              <a href="https://github.com/janfreyberg/binoc-rivalry-complexity-comparison" target="_blank" class="btn btn-light">
                <i class="fa fa-github fa-fw-2x"></i>
                Try it
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="research-item">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-area-chart fa-stack-1x text-primary"></i>
              </span>
              <a href="https://github.com/janfreyberg/binoc-rivalry-trials" target="_blank" class="btn btn-light">
                <i class="fa fa-github fa-fw-2x"></i>
                Try it
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="research-item">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-ellipsis-v fa-stack-1x text-primary"></i>
              </span>
              <a href="https://github.com/janfreyberg/crowding" target="_blank" class="btn btn-light">
                <i class="fa fa-github fa-fw-2x"></i>
                Try it
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="research-item">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-group fa-stack-1x text-primary"></i>
              </span>
              <a href="https://github.com/janfreyberg/face-perception-ssvep" target="_blank" class="btn btn-light">
                <i class="fa fa-github fa-fw-2x"></i>
                Try it
              </a>
            </div>
          </div>
       <div class="row text-center">
        <a href="/projects/" class="btn btn-dark">More</a>
      </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
